.ValueTable {
  text-align: center;
  padding: 10px;
  width: 100%;
}

.ValueTable td, .ValueTable th {
  border: 1px solid #ddd;
  padding: 8px;
  box-shadow: 0 2px 3px #ccc;
}

.ValueTable tr:nth-child(even){background-color: #f2f2f2;}

.SelectedCell {
  background-color: blue;
}