/* Not yet working entirely correctly, see https://stackoverflow.com/questions/46627848/flexbox-responsive-row-column-layout */

.WalletLayout {
  display: flex;
  flex-flow: row wrap;
}

.wallet {
  width: 100%;
  text-align: center;
}

.left {
  width:50%;
  /*background-color: red;*/
}
.right {
  width:50%;
  /*background-color: green;*/
}
.center {
  width:100%;
  /*background-color: blue;*/
}

/*
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}*/

/* Responsive layout, stack columns on top of each other on smaller screens */
@media screen and (max-width: 600px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}